<div class="container">
    <div class="row no-gutters">
      <div class="col-md-4 border-right">
        <div class="settings-tray">
          <img class="profile-image" src="https://scontent.fbeg1-1.fna.fbcdn.net/v/t1.0-9/60430168_1228575147309374_2946376766538645504_n.jpg?_nc_cat=104&_nc_ht=scontent.fbeg1-1.fna&oh=500b1e9ee57e3ca3d4c9a9ca963f1f3d&oe=5D81D429" alt="">
          <span class="settings-tray--right">
            <i class="material-icons">menu</i>
          </span>
        </div>
        <div class="friend-drawer friend-drawer--onhover">
          <img class="profile-image-list" src="https://www.popcultureshocktoys.com/content/images/thumbs/0006453_optimus-prime-classic-series_600.jpeg" alt="">
          <div class="text">
            <h6>Optimus</h6>
          </div>
        </div>
        <hr>
      </div>
      <div class="col-md-8">
        <div class="chat-panel">
          <div class="messages">
            <div class="row no-gutters">
                <div class="col-md-3">
                  <div class="chat-bubble chat-bubble--left">
                    Hello dude!
                  </div>
                </div>
              </div>
              <div class="row no-gutters">
                <div class="col-md-3 offset-md-9">
                  <div class="chat-bubble chat-bubble--right">
                    Hello duderrrrrrrrrrrrrr!
                  </div>
                </div>
              </div>
          </div>
          <div class="row">
            <div class="col-12">
              <div class="chat-box-tray">
                <input type="text" placeholder="Tu mensaje aquí">
                <i class="material-icons">send</i>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>